<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
{{ partial "head.html" . }}

<body>
    {{ block "header" . }}
    {{ partial "header.html" . }}
    {{ end }}
    <main>
        <div class="article-header">
            <h3 class="spaced">
                {{ .Page.Title }}
            </h3>
        </div>
        <article>
            {{ block "main" . }}
            {{ .Content }}
            {{ end }}
        </article>
        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
    </main>
</body>

</html>