{{ partial "header.html" . }}

<header><h1>{{ .Title }}</h1></header>

<article>

{{ .Content }}

<ul>
{{ range.Pages }}

<li>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time> &ndash;
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</li>

{{ end }}
</ul>

</article>

{{ partial "footer.html" . }}
