        {{- if isset .Params "tags" -}}
            {{- $tagsLen := len .Params.tags -}}
            {{- if gt $tagsLen 0 -}}
        <div class=taglist>
		{{ with .Site.Params.relatedtext }}{{ . }}<br>{{ end }}
                {{- range $k, $v := .Params.tags -}}
                {{- $url := printf "tags/%s" (. | urlize | lower) -}}
                <a id="tag_{{ . }}" href="{{ $url | absURL }}">{{ . | title }}</a>
                {{- if lt $k (sub $tagsLen 1) }}&middot;{{ end -}}
                {{- end -}}
            </div>
            {{- end -}}
        {{- end -}}
</main>
<footer>
	<a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a></br>
	{{ if .Site.Params.showrss }}<a href="/index.xml"><img src="/pix/rss.svg" style="max-height:.9em;display:inline" alt=""> Subscribe via RSS for Updates.</a>{{ end }}
</footer>
</body>
</html>
